{% extends 'shop/base.html' %}

{% block title %}О магазине{% endblock %}

{% block content %}
<h1>О магазине</h1>
<p><strong>Тема:</strong> Магазин необычных головоломок и пазлов</p>

<h2>Что мы предлагаем:</h2>
<ul>
    <li>3D головоломки из дерева и металла</li>
    <li>Механические пазлы</li>
    <li>Кубики Рубика различных модификаций</li>
    <li>Логические головоломки</li>
    <li>Коллекционные экземпляры</li>
</ul>

<p>Лабораторная работа №18 по Django</p>
{% endblock %}