{% extends 'shop/base.html' %}

{% block title %}Главная - Магазин головоломок{% endblock %}

{% block content %}
<h1>🧩 Магазин необычных головоломок и пазлов</h1>
<p>Добро пожаловать в наш магазин! Здесь вы найдете самые интересные головоломки.</p>

<div style="margin-top: 30px;">
    <a href="{% url 'product_list' %}" class="btn">Перейти в каталог</a>
</div>

<h2>О нас</h2>
<p>Мы специализируемся на продаже:</p>
<ul>
    <li>3D головоломок из различных материалов</li>
    <li>Механических пазлов</li>
    <li>Кубиков Рубика и их модификаций</li>
    <li>Логических головоломок</li>
    <li>Коллекционных экземпляров</li>
</ul>
{% endblock %}